.home {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.home .mainContent {
  padding: 2rem;
  display: flex;
  height: 100%;
}

.stepperWrapper {
  grid-area: stepperWrapper;
  border-right: 1px solid var(--grey5);
  padding-right: 2rem;
  min-width: 12.375rem;
}

.industryCardWrapper {
  grid-area: industryCardWrapper;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .stepperWrapper {
    display: none;
  }
  .home .mainContent {
    padding: 1.5rem 1rem;
  }
}
