.rootIndustryCard {
  padding-left: 2rem;
}

.rootIndustryCard .cardItemWrapper {
  margin-top: 1.5rem;
}

.rootIndustryCard .cardItemWrapper > div:not(:first-child):not(:last-child) {
  margin: 0.5rem 0;
}

@media screen and (max-width: 768px) {
  .rootIndustryCard {
    padding-left: 0;
  }
}
