.rootProgressBanner {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.rootProgressBanner .messageWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.rootProgressBanner .progress {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rootProgressBanner .progress .progressBar {
  height: 0.75rem;
  width: 26.25rem;
  border-radius: 0.5rem;
  background-color: var(--grey4);
}

.rootProgressBanner .progress .progressBar span {
  border-radius: 0.5rem;
}

@media screen and (max-width: 540px) {
  .rootProgressBanner .progress .progressBar {
    width: 9.375rem;
  }
}
