.rootHeader {
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--grey5);
}

.rootHeader img {
  height: 3.75rem;
  width: 3.75rem;
}

.rootHeader .profile .status {
  color: var(--grey2);
}

.rootMobileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.rootMobileHeader button {
  padding: 0;
}

.rootMobileHeader .profileWrapper button:first-child {
  padding-right: 1rem;
}

@media screen and (max-width: 768px) {
  .rootHeader {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .rootMobileHeader {
    display: none;
  }
}
