.rootHeader {
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--grey5);
}

.rootHeader .profile .status {
  color: var(--grey2);
}
